// 将多个less文件进行合并 模块化处理
// 定义变量
// 定义布局
// 定义动画
// 模块化，方便维护
@import './syntax.less';
.box{
    // 在less中直接进行运算
    width: 100px-50px;
    height: (100px+100px)*1.5;
    background-color: #bfa;
}

// 编译