<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    绝对url地址-->
<!--    http://example.com/main.css-->
<!--    相对url地址-->
<!--    ../public/css/main.css    -->
<!--    在 file 协议中,相对于当前文件-->
<!--    在 http 协议中相对于当前网页url地址-->
<!--            / ../public/css/main.css /public/css/main.css-->
<!--            /a/b b表示文件 ../public/css/main.css /public/css/main.css-->
<!--            /a/b/c ../public/css/main.css-->
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<h1>Hello Express</h1>
<!--    在页面中留一个标记用于解析替换-->
<!--<h2>{{foo}}</h2>-->
<!--<ul>-->
<!--    {{each todos}}-->
<!--    <li>{{$value.title}}</li>-->
<!--    {{/each}}-->
<!--</ul>-->
</body>
</html>